doctype html
html
  head
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
    link(rel="stylesheet", href="/static/styles.css")
    title #{title} | MunTube
  body
    header
      .header__column
        a(href=routes.home)
          <i class="fab fa-youtube"></i>
      .header__column
        form(action=routes.search, method="get")
          input(type="text", placeholder="searching for..", name="term")
      .header__column
        ul
          if !loggedUser
            li
              a(href=routes.signIn) Sign In
            li
              a(href=routes.signUp) Sign Up
          else
            li
              a(href=`${routes.videos}${routes.upload}`) Upload
            li
              a(href=routes.me) Profile
            li
              a(href=routes.logout) Sign Out
    main
      block content
    script(src="/static/main.js")
    footer
      span &copy MunTube
    