extends layouts/main

block content
  .video__player
    video(src=`/${video.fileUrl}`)
  .video__info
    a(href=routes.editVideo(video.id)) Edit video
    h2=video.title
    span=video.views
    p=video.description