extends layouts/main
include mixins/videoBlock

block content
  .video__player
    video(src=`/${video.fileUrl}`, controls=true)
  .video__info
    a(href=routes.videoEdit(video.id)) Edit video
    h2.video__title=video.title
    span.video__views=video.views
    p.video__description=video.description